*.rk
results/
archival/
misc./
output/
input-ranks/
input-labels/
input-fv/
input-seq_fv/
input-coll_matches/
input-mod_labels/
output-agg/
source/*.cfg
condor/
source/deprecated/
source/notebooks/.ipynb_checkpoints/
source/notebooks/output/
scripts/output/
*/__pycache__/
*/*/__pycache__/
.idea/
*.pdf
*.out
*~
